.sidebar-container{
    width: 240px;
    border: 1px solid red;
    height: 100vh;
    padding: 32px 0 40px 45px;
}
.logo-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 100px;

}
.logo{
    width: 26px;
    height: 26px;
    margin-right: 11px;
}

.logo-text{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;    
    color: #304858;

}
.menu{
    font-family: Product Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #3629B7;
}